@import './common.styl'
    .search-box
        width 7.1rem /* 710/100 */
        height .555rem /* 55.5/100 */
        line-height .555rem /* 55.5/100 */
        border-radius .1rem /* 10/100 */
        border .01rem /* 1/100 */solid rgba(230,230,234,1)
        font-size .26rem /* 26/100 */
        padding 0 .22rem /* 22/100 */
        .at_search1
            color #666666
            font-size .26rem /* 26/100 */